$content-distance-top: $header-height;

// Post List
$wrapper-padding: 0px 50px 0px 50px;
$post-distance-top: 35px;
$post-date-distance-bottom: 25px;
$post-content-width: 75%;
$post-content-distance-bottom: 15px;
$post-content-text-align: justify;
$post-content-line-height: 2em;
$post-content-border: 1px solid $post-border-colour;
$read-more-text-align: right;
