$base-font-family: 'Crimson Pro', sans-serif;
$small-font-size: 15px;
$normal-font-size: 17px;
$big-font-size: 21px;
$great-font-size: 31px;
$post-title-font-size: 34px;
$huge-font-size: 36px;
$thin-font: 200;
$normal-font: 300;
$bold-font: 400;
$thick-font: 600;
