$base-font-family: 'Open Sans', sans-serif;
$small-font-size: 14px;
$normal-font-size: 16px;
$big-font-size: 20px;
$great-font-size: 30px;
$post-title-font-size: 32px;
$huge-font-size: 35px;
$thin-font: 200;
$normal-font: 300;
$bold-font: 400;
$thick-font: 600;
