<div class="sidebar">
  <a href="/">
    <div id="photo" class="sidebar-content" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src="/assets/images/kirito.jpg" />
        </div>
        <div class="back">
          <img src="/assets/images/nelspike.jpg" />
        </div>
      </div>
    </div>
  </a>
  <div id="self-description" class="sidebar-content sidebar-text">
    <div id="quote"><i>{{ site.quote }}</i></div>
    <div id="quoted">&#151; Lightning, Final Fantasy XIII&#8482;</div>
  </div>
  <div id="blog-description" class="sidebar-content sidebar-text">
    {{ site.description }}
  </div>
  <div id="external-section" class="sidebar-content sidebar-text">

    <div id="social-media">
      <a href="https://github.com/{{ site.github_username }}" target="_blank">
        <div id="github" class="social-container">
          <i class="fa fa-github"></i>
        </div>
      </a>
      <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
        <div id="twitter" class="social-container">
          <i class="fa fa-twitter"></i>
        </div>
      </a>
      <a href="https://www.linkedin.com/in/nelspike" target="_blank">
        <div id="linkedin" class="social-container">
          <i class="fa fa-linkedin"></i>
        </div>
      </a>
      <a href="mailto:{{ site.email }}" target="_blank">
        <div id="email" class="social-container">
          <i class="fa fa-envelope"></i>
        </div>
      </a>
      <a href="http://stackoverflow.com/users/1003007/nelspike" target="_blank">
        <div id="stack" class="social-container">
          <i class="fa fa-stack-overflow"></i>
        </div>
      </a>
      <a href="{{ site.baseurl }}/feed.xml" target="_blank">
        <div id="rss" class="social-container">
          <i class="fa fa-rss"></i>
        </div>
      </a>
    </div>

  </div>
</div>
