<div class="sidebar">
  <div id="photo" class="sidebar-content bordered">
    <img src="/assets/nelspike.jpg" />
  </div>
  <div id="self-description" class="sidebar-content sidebar-text bordered">
    Lorem ispum cenas, because I really don't know what to put here to test.
    Thing is, I'm trying it out!
  </div>
  <div id="blog-description" class="sidebar-content sidebar-text bordered">
    Lorem ispum cenas, because I really don't know what to put here to test.
    Thing is, I'm trying it out!
  </div>
  <div id="external-section" class="sidebar-content bordered">
    Wut
  </div>
</div>
