<div class="sidebar">
  <div id="photo" class="sidebar-content bordered">
    <img src="/assets/nelspike.jpg" />
  </div>
  <div id="self-description" class="sidebar-content sidebar-text bordered">
    Lorem ispum cenas, because I really don't know what to put here to test.
    Thing is, I'm trying it out!
  </div>
  <div id="blog-description" class="sidebar-content sidebar-text bordered">
    Lorem ispum cenas, because I really don't know what to put here to test.
    Thing is, I'm trying it out!
  </div>
  <div id="external-section" class="sidebar-content sidebar-text bordered">

    <div id="social-media">
      <div id="github" class="social-container">
        <a href="https://github.com/{{ site.github_username }}">
          <img src="/assets/github.png" />
        </a>
      </div>
      <div id="twitter" class="social-container">
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <img src="/assets/twitter.png" />
        </a>
      </div>
      <div id="gmail" class="social-container">
        <a href="mailto:{{ site.email }}">
          <img src="/assets/mail.png" />
        </a>
      </div>
    </div>

    <div id="social-media-name">
      GitHub
    </div>

  </div>
</div>
