.bordered {
  border: 1px solid black;
}

/**
 * Site header
 */
header {

  /**
   * Dimensions
   */
  height: 50px;
  @include calc(width, "100% - 250px");
  //width: 85%;

  /**
   * Positioning
   */
  position: fixed;
  right: 0;
  z-index: 2;

  /**
   * Colour Scheme
   */
  background-color: #4477AA;
  color: #ddd;
  
  /**
   * Responsive section
   */
  @media screen and (max-width: $high-resolution-device) {
    width: 100%;
  }

  /**
   * Child Nodes Styling
   */

  #category-listing {
    height: 100%;
    font-size: 20px;

    a:hover {
      text-decoration: none;
    }

    .category {
      padding: 10px 20px 0px 20px;
      height: 40px;
      display: inline-block;
      font-weight: 200;
    }

    .category:hover {
      background-color: #225485;
      cursor: pointer;
      color: #ddd;
    }
    
    .selected {
      background-color: #225485;
      color: #ddd;
    }
  }

  /**
   * Link Styling
   */

  a {
    color: #eee;
  }

  a:visited {
    color: #eee;
  }

}

/**
 * Sidebar Section
 */
.sidebar {

  /**
   * Dimensions
   */
  height: 100%;
  width: 250px;

  /**
   * Positioning
   */
  position: fixed;

  /**
   * Colour Scheme
   */
  background-color: #225485;
  color: #ddd;

  /**
   * Responsive section
   */
  @media screen and (max-width: $high-resolution-width) {
    height: auto;
  }

  @media screen and (max-width: $low-resolution-width) {
    height: 100%;
  }

  @media screen and (max-width: $high-resolution-device) {
    display: none;
    position: fixed;
    width: 38%;
  }
  
  @media screen and (max-width: $low-resolution-device) {
    width: 50%;
  }
  
  @media screen and (max-height: 768px) {
    height: 100%;

    #social-media {
      .social-container {
        font-size: 30px;
      }
    }
  }

  /**
   * Child Nodes Styling
   */

  .sidebar-content {
    width: 80%;
  }

  .sidebar-text {
    margin-left: 5%;
    padding: 5%;
    text-align: center;
  }

  #photo {
    margin-top: 15px;
    margin-left: 10%;

    @media screen and (max-height: 768px) {
      width: 70%;
      margin-left: 15%;
    }
    
    img {
      border-radius: 100px;
    }
  }

  #self-description {
    margin-top: 10px;
    font-size: 14px;
  }

  #blog-description {
    margin-top: 20px;
    font-size: 20px;
  }  

  #external-section {
    margin-top: 20px;

    #social-media {
      text-align: center;

      #github:hover {
        background-color: #000;
      }

      #twitter:hover {
        background-color: #00ACED;
      }

      #email:hover {
        background-color: #DD4B39;
      }

      #stack {
        margin-top: 10px;
      }

      #stack:hover {
        background-color: #F60;
      }

      #rss:hover {
        background-color: #C55D10;
      }

      .social-container {
        width: 50px;
        font-size: 35px;
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;
      }

      .social-container:hover {
        cursor: pointer;
      }
    }
  }

  /**
   * Link Styling
   */

  a {
    color: #eee;
  }

  a:visited {
    color: #eee;
  }

  a:hover {
    text-decoration: none;
  }

}

/**
 * Content section
 */
.content {

  /**
   * Dimensions
   */
  @include calc(height, "100% - 50px");
  @include calc(width, "100% - 250px");
  //width: 85%;

  /**
   * Positioning
   */
  position: absolute;
  right: 0;
  top: 50px;
  //bottom: 0;

  /**
   * Colour Scheme
   */
  color: #111;

  /**
   * Responsive section
   */
  @media screen and (max-width: $high-resolution-device) {
    width: 100%;
  }
  
  /**
   * Child Node Styling
   */

  #content-wrapper {
    padding: 0px 50px 0px 50px;

    .post {
      margin-top: 35px;

      .post-title {
        font-weight: 400;
        font-size: 32px;
      }

      .post-date {
        margin-bottom: 25px;
        font-size: 14px;
        color: #555;
      }

      .post-truncate {
        width: 75%;
        padding-bottom: 15px;
        text-align: justify;
        line-height: 2em;
        font-size: 16px;
        border-bottom: 1px solid #ccc;

        @media screen and (max-width: $high-resolution-device) {
          width: 100%;
        }

        .read-more {
          font-size: 16px;
          text-align: right;
        }
      }
    }
  }

  a:hover {
    text-decoration: none;
  }

}

/**
 * Posts
 */

.single-post {
  padding: 50px;
  width: 80%;

  .post-title {
    margin-bottom: 30px;

    h1 {
      font-size: 32px;
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 1;
    }
  }

  .post-content {
    line-height: 2em;
  }

  .post-meta {
    text-align: right;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 400;
   
    .meta-info {
      display: inline-block;
      margin-left: 5px;
    }
    
    .post-author {
      display: inline-block;
    }

    .post-date {
      display: inline-block;
      margin-left: 15px;
    }
  }
}
