/**
 * Site header
 */
header {

  /**
   * Dimensions
   */
  height: $header-height;
  @include calc(width, "100% - 250px");
  
  /**
   * Positioning
   */
  position: fixed;
  right: 0;
  z-index: 2;

  /**
   * Colour Scheme
   */
  background-color: $header-background;
  color: $assets-colour;
  
  /**
   * Child Nodes Styling
   */
  #category-listing {
    height: 100%;
    font-size: $big-font-size;

    .category {
      padding: $category-padding;
      height: $category-height;
      display: inline-block;
      font-weight: $thin-font;
    }

    .category:hover {
      background-color: $sidebar-background;
      cursor: pointer;
      color: $assets-colour;
    }
    
    .selected {
      background-color: $sidebar-background;
      color: $assets-colour;
    }
  }

  /**
   * Link Styling
   */
  a {
    color: $assets-link-colour;

    &:visited{
      color: $assets-link-colour;
    }

    &:hover {
      text-decoration: $nothing;
    }
  }

  /**
   * Responsive section
   */
  @include media-query($high-resolution-device) {
    width: 100%;
  }
}

/**
 * Sidebar Section
 */
.sidebar {

  /**
   * Dimensions
   */
  height: 100%;
  width: $sidebar-width;

  /**
   * Positioning
   */
  position: fixed;

  /**
   * Colour Scheme
   */
  background-color: $sidebar-background;
  color: $assets-colour;

  /**
   * Child Nodes Styling
   */
  .sidebar-content {
    width: $sidebar-content-width;
  }

  .sidebar-text {
    margin-left: $sidebar-text-margin;
    padding: $sidebar-text-margin;
    text-align: $sidebar-text-alignment;
  }

  #photo {
    margin-top: $photo-top-margin;
    margin-left: $photo-left-margin;

    img {
      border-radius: $photo-radius;
    }
  }

  #self-description {
    margin-top: $quote-top-margin;
    font-size: $small-font-size;

    #quote {
      text-align: $quote-text-alignment;
    }

    #quoted {
      text-align: $quoted-text-alignment;
      margin-top: $quoted-top-margin;
    }
  }

  #blog-description {
    margin-top: $sidebar-text-top-margin;
    font-size: $big-font-size;
  }  

  #external-section {
    margin-top: $sidebar-text-top-margin;

    #social-media {
      text-align: center;

      @include assign-social-colours();

      #stack {
        margin-top: $social-media-row-distance;
      }

      .social-container {
        width: $social-container-width;
        font-size: $huge-font-size;
        margin-left: $social-container-margin;
        margin-right: $social-container-margin;
        display: inline-block;
      }

      .social-container:hover {
        cursor: pointer;
      }
    }
  }

  /**
   * Link Styling
   */
  a {
    color: $assets-colour;

    &:visited {
      color: $assets-link-colour;
    }

    &:hover {
      text-decoration: $nothing;
    }
  }

  /**
   * Responsive section
   */
  @include media-query($high-resolution-width) {
    height: auto;
  }

  @include media-query($low-resolution-width) {
    height: 100%;
  }

  @include media-query($high-resolution-device) {
    display: $nothing;
    position: fixed;
    width: 38%;
  }
  
  @include media-query($low-resolution-device) {
    width: 50%;
  }
  
  @include height-media-query($low-resolution-height) {
    height: 100%;

    #photo {
      width: 70%;
      margin-left: $small-margin;
    }

    #external-section {
      #social-media {
        .social-container {
          font-size: $great-font-size;
        }
      }
    }
  }
}

/**
 * Content section
 */
.content {

  /**
   * Dimensions
   */
  @include calc(height, "100% - 50px");
  @include calc(width, "100% - 250px");

  /**
   * Positioning
   */
  position: absolute;
  top: $content-distance-top;
  right: 0;

  /**
   * Colour Scheme
   */
  color: $text-colour;

  /**
   * Responsive section
   */
  @media screen and (max-width: $high-resolution-device) {
    width: 100%;
  }
  
  /**
   * Child Node Styling
   */

  #content-wrapper {
    padding: $wrapper-padding;

    .post {
      margin-top: $post-distance-top;

      .post-title {
        font-weight: $bold-font;
        font-size: $post-title-font-size;
      }

      .post-date {
        margin-bottom: $post-date-distance-bottom;
        font-size: $small-font-size;
        color: $post-date-colour;
      }

      .post-truncate {
        width: $post-content-width;
        padding-bottom: $post-content-distance-bottom;
        text-align: $post-content-text-align;
        line-height: $post-content-line-height;
        font-size: $normal-font-size;
        border-bottom: $post-content-border;

        @include media-query($high-resolution-device) {
          width: 100%;
        }

        .read-more {
          font-size: $normal-font-size;
          text-align: $read-more-text-align;
        }
      }
    }
  }

  a:hover {
    text-decoration: $nothing;
  }

}

/**
 * Posts
 */

.single-post {
  margin-top: 35px;
  padding: 0px 50px 0px 50px;
  width: 80%;

  .post-title {
    margin-bottom: 30px;

    h1 {
      font-size: 32px;
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 1;
    }
  }

  .post-content {
    text-align: justify;
    line-height: 2em;

    .post-picture {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 25px;
    }
  }

  .post-meta {
    text-align: right;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
   
    .meta-info {
      display: inline-block;
      margin-left: 5px;
    }
    
    .post-author {
      display: inline-block;
    }

    .post-date {
      display: inline-block;
      margin-left: 15px;
    }
  }
}
