.bordered {
  border: 1px solid black;
}

/**
 * Site header
 */
header {

  /**
   * Dimensions
   */
  height: 50px;
  width: 85%;

  /**
   * Positioning
   */
  position: absolute;
  right: 0;

  /**
   * Colour Scheme
   */
  background-color: #336699;
  color: #ddd;
  
  /**
   * Responsive section
   */
  @media screen and (max-width: $low-resolution-width) {
    width: 80%;
  }

  @media screen and (max-width: $high-resolution-device) {
    width: 100%;
  }

  /**
   * Child Nodes Styling
   */

  #category-listing {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;

    .category {
      .fa {
        margin-left: 5px;
      }
    }
    
  }

}

/**
 * Sidebar Section
 */
.sidebar {

  /**
   * Dimensions
   */
  height: 100%;
  width: 15%;

  /**
   * Positioning
   */
  position: absolute;
  //bottom: 0;

  /**
   * Colour Scheme
   */
  background-color: #336699;
  color: #ddd;

  /**
   * Responsive section
   */
  @media screen and (max-width: $low-resolution-width) {
    height: auto;
    width: 20%;
  }

  @media screen and (max-width: $high-resolution-device) {
    display: none;
    position: fixed;
    width: 38%;
  }
  
  @media screen and (max-width: $low-resolution-device) {
    width: 50%;
  }


  /**
   * Child Nodes Styling
   */

  .sidebar-content {
    width: 80%;
  }

  .sidebar-text {
    margin-left: 5%;
    padding: 5%;
    text-align: center;
  }

  #photo {
    margin-top: 20px;
    margin-left: 10%;
  }

  #self-description {
    margin-top: 10px;
    font-size: 14px;
  }

  #blog-description {
    margin-top: 20px;
    font-size: 20px;
  }  

  #external-section {
    margin-top: 30px;

    #social-media {
      text-align: center;

      .social-container {
        width: 50px;
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;
      }
    }

    #social-media-name {
      text-align: center;
      padding: 10px;
      margin-top: 15px;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

/**
 * Content section
 */
.content {

  /**
   * Dimensions
   */
  @include calc(height, "100% - 50px");
  width: 85%;

  /**
   * Positioning
   */
  position: absolute;
  right: 0;
  top: 50px;
  //bottom: 0;

  /**
   * Colour Scheme
   */
  color: #111;

  /**
   * Responsive section
   */
  @media screen and (max-width: $low-resolution-width) {
    height: auto;
    width: 80%;
  }

  @media screen and (max-width: $high-resolution-device) {
    width: 100%;
  }
  
  /**
   * Child Node Styling
   */

}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }
}
