---
layout: default
---

<div class="single-post">

  <div class="post-title">
    <h1>{{ page.title }}</h1>
  </div>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="post-meta">
    <div class="post-author">
      <i class="fa fa-pencil"></i>
      <span class="meta-info">{{ site.poster }}</span>
    </div>
    <div class="post-date">
      <i class="fa fa-calendar"></i>
      <span class="meta-info">{{ page.date | date: "%A, %-d %B, %Y" }}</span>
    </div>
  </div>
</div>
